@model seminarium.Models.Category

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Kategorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        </br>
        </br>
        <dt>
            Książki w tej kategorii
        </dt>
        </br>

        <dd>
            <table class="<table">
                <tr>
                    <th>Tytuł Książki</th>
                </tr>
                @foreach (var item in Model.CategoryBooks)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Book.Tytul)</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>

    @Html.ActionLink("Wróć", "Index")
</p>
