@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mobilna Czytelnia</h1>
    
        <h2>
            Czym jest?
        </h2>
        <p>
            Jest to zbiór książek, po które każdy z chęcią sięgnie.
            Znajdują się tutaj książki z zakresu lektur szkolnych oraz inne.
        </p>
</div>



    <div class="row">

        <div class="col-md-6">
            <h2>Poznaj autorów</h2>
            <p>Szukasz swojego ulubionego pisarza? Tutaj możesz wyszukać autora, którego książkę chcesz przeczytać.</p>
            <p><a class="btn btn-default" href="~/Views//Authors/Index">Znajdź Autora &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Znajdź swoją kategorię</h2>
            <p>Szukasz kategorii, która spełni twoje oczekiwania? W tym miejscu możesz ją znaleźć.</p>
            <p><a class="btn btn-default" href="~/Views//Categories/Index">Znajdź swoją kategorię &raquo;</a></p>
        </div>
    </div>
